modules = ["web", "python-3.12", "nodejs-20"]
run = "Run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "Run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42963897
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Start Website"
author = 42963897
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Debug Website"
author = 42963897
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80
